@model IEnumerable<DataModel.UndangUndang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pasal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextPasal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JenisUU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HukumanPenjara)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pasal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextPasal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JenisUU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HukumanPenjara)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
