@model DataModel.PenegakHukum

@{
    ViewBag.Title = "Details Penegak Hukum";
}



<div class="mb20">
    <h2 class="title" data-animate="fadeInUp">Informasi detil penegak hukum</h2>

</div>

<div class="row">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
            <dl class="dl-horizontal">
                @*<dt>
                        @Html.DisplayNameFor(model => model.HukumPidanaID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HukumPidanaID)
                    </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.JenisPenegak)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JenisPenegak)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.Nama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nama)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Alamat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alamat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TanggalLahir)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TanggalLahir)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kelamin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kelamin)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Catatan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Catatan)
                </dd>

            </dl>
                </div>
        </div>
        <hr />
        <div class="col-md-6">

            <div class="row">
                <div class="col-sm-12 text-center" data-animate="fadeInUp">
                    <h3 class="title">Jumlah kasus yang diadili per tahun</h3>
                    <hr />
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div id="chart" class="well" style="width: 100%; height: 400px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            @*<div class="row">
                    <h3>Daftar kasus yang diadili</h3>
                </div>*@
            <div class="row">
                <div class="col-sm-12 text-left" data-animate="fadeInUp" style="text-align:center">
                    <h3 class="title">Daftar kasus yang diadili</h3>
                </div>
            </div>
            <div class="row">
                @{Html.RenderAction("DaftarPutusan", "Shared", new { hakimID = Model.ID });}
                @*@Html.Partial("ListPutusan", Model.kasusHakimKetua)*@
            </div>
        </div>

    </div>
    </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        $.ajax({
            type: "POST",
            url: "/PenegakHukums/AjaxMethod",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {

                //alert(r);
                drawPieChart(r); // calling method

                //var data = google.visualization.arrayToDataTable(r);

                ////Pie
                //var options = {
                //    title: 'Putusan yang sudah dibuat'
                //};
                //var chart = new google.visualization.PieChart($("#chart")[0]);
                //chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }

    function drawPieChart(dataValues) {

        var data = new google.visualization.DataTable();


        data.addColumn('string', 'Tahun');
        data.addColumn('number', 'Jumlah Putusan');
        data.addColumn({ type: 'number', role: 'annotation' });
   
        for (var i = 0; i < dataValues.length; i++) {
            data.addRow([dataValues[i].Tahun, dataValues[i].JumlahPutusan, dataValues[i].JumlahPutusan]);
        }
        //data.addRow([null, null, 30]);
        // Instantiate and draw our chart, passing in some options
        var chart = new google.visualization.BarChart(document.getElementById('chart'));
        var formatter = new google.visualization.NumberFormat({ pattern: '#,###.00' });
        var options = {
            //title: 'Correlation between life expectancy, fertility rate ' +
            //       'and population of some world countries (2010)',

            //title: "Jumlah kasus per tahun yang diadili",
            position: "top",
            fontsize: "14px",
            chartArea: { width: '75%', height:'95%' },
            //seriesType: "bars",
            //series: { 2: { type: "line", color: 'black' } },
            backgroundColor: "none",
            vAxis: {
                gridlines: {
                    color: 'transparent'
                },
                //textPosition: 'none',
                baselineColor: 'transparent'
            },
            hAxis: {

                gridlines: {
                    color: 'transparent'
                },
                textPosition: 'none'
            },
            legend: 'none',
            colors: ['#009688', '#009688', '#009688']
        };

        chart.draw(data, options);
    }
</script>